<header
  class="fixed top-0 left-0 w-full z-50 shadow-lg header-nav"
  data-module="Header"
>
  <div class="w-full relative bg-navyBlue-900 text-navyBlue-50">
    <div
      class="w-full max-w-[1200px] px-4 mx-auto h-10 flex items-center justify-between hidden lg:flex"
    >
      <h2 class="text-sm">
        Chào mừng bạn đến với Đại học Công nghiệp Thành phố Hồ Chí Minh
      </h2>
      <div class="flex flex-row items-center gap-3">
        <a href="#" class="flex items-center gap-2 text-sm">
          <svg
            class="size-5"
            viewbox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 20H16M12 20H8M12 20V16M12 16H5C4.44772 16 4 15.5523 4 15V6C4 5.44771 4.44772 5 5 5H19C19.5523 5 20 5.44772 20 6M12 16H19C19.5523 16 20 15.5523 20 15V10"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          E-Office
        </a>
        <a
          href="mailto:dhcn@iuh.edu.vn"
          class="flex items-center gap-2 text-sm"
        >
          <svg
            class="size-5"
            viewbox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.75 19.5H3.75C2.79 19.5 2 18.71 2 17.75V5.75C2 5.28 2.18 4.84 2.51 4.51C2.84 4.18 3.28 4 3.75 4H19.75C20.21 4 20.65 4.18 20.99 4.51C21.32 4.84 21.5 5.28 21.5 5.75V17.75C21.5 18.71 20.71 19.5 19.75 19.5ZM3.5 6.56V17.75C3.5 17.89 3.61 18 3.75 18H19.75C19.89 18 20 17.89 20 17.75V6.56L13.69 12.87C12.65 13.91 10.84 13.91 9.8 12.87L3.5 6.56ZM4.56 5.5L10.87 11.81C11.34 12.28 12.16 12.28 12.64 11.81L18.95 5.5H4.56Z"
              fill="currentColor"
            />
          </svg>

          dhcn@iuh.edu.vn
        </a>
        <a href="tel:02838940390" class="flex items-center gap-2 text-sm">
          <svg
            class="size-5"
            viewbox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.45019 14.4348L4.10616 16.0908C4.37014 16.3682 4.72707 16.5388 5.10908 16.57C6.18634 16.658 8.2555 15.3342 8.78483 14.5186C9.19745 13.8828 9.03786 12.9898 9.03857 12.2734C11.209 11.6745 13.4997 11.6722 15.669 12.2668C15.6683 12.9832 15.507 13.8766 15.9183 14.5116C16.4452 15.3248 18.503 16.6383 19.5782 16.5563C19.9564 16.5275 20.3115 16.3621 20.5773 16.0911L22.2365 14.4318C22.8682 13.799 22.8271 12.706 22.1339 12.1278C16.6591 6.6444 8.06376 6.60467 2.55193 12.1251C1.85517 12.7066 1.81459 13.8044 2.45019 14.4348Z"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          0283 8940 390
        </a>
        <div class="pr-2 border-r cursor-pointer" data-open-modal="onSearch">
          <svg
            class="size-6"
            viewbox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20 20L15.8033 15.8033C15.8033 15.8033 14 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5C18 11.0137 17.9484 11.5153 17.85 12"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div
          class="language-switcher border-[1px] rounded-full cursor-pointer border-navyBlue-50 px-2 py-1 text-sm flex items-center gap-2 transition-all duration-500"
        >
          <p class="language-switcher__text">VNI</p>
          <div
            class="size-5 rounded-full border-[1px] border-navyBlue-50 overflow-hidden"
          ></div>
        </div>
      </div>
    </div>
    <div class="bg-white text-navyBlue-900">
      <div
        class="w-full max-w-[1200px] min-h-[80px] px-4 mx-auto flex items-center justify-between"
      >
        <a href="/">
          <img
            src="assets/images/icons/logo.svg"
            alt="Logo"
            class="w-full max-w-[147px]"
          />
        </a>

        <!-- Hamburger Menu -->
        <button class="hamburger-menu" aria-label="Toggle menu">
          <svg
            class="w-8 h-8"
            viewbox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 12H21M3 6H21M3 18H21"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>

        <!-- Main Navigation -->
        <nav
          class="main-nav max-[1100px]:fixed max-[1100px]:top-0 max-[1100px]:right-[-100%] max-[1100px]:w-[300px] max-[1100px]:h-screen max-[1100px]:bg-white max-[1100px]:z-50 max-[1100px]:transition-all max-[1100px]:duration-300 max-[1100px]:ease-in-out max-[1100px]:overflow-y-auto max-[1100px]:shadow-xl"
        >
          <!-- Close button -->
          <div
            class="flex flex-row items-center justify-between menuMb:hidden w-full px-4 py-5 bg-navyBlue-100"
          >
            <a href="/">
              <img
                src="assets/images/icons/logo.svg"
                alt="Logo"
                class="w-full max-w-[147px]"
              />
            </a>
            <button
              class="top-5 right-5 close-menu items-center justify-center w-8 h-8 text-gray-500 hover:text-gray-900 transition-colors duration-200"
              aria-label="Close menu"
            >
              <svg
                class="w-6 h-6"
                viewbox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 18L18 6M6 6L18 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>

          <!-- Menu structure -->
          <ul
            class="flex flex-row justify-start menuMb:items-center gap-4 h-20 flex-1"
          >
            <li
              class="group/sub-menu text-navyBlue-900 relative h-full flex flex-col menuMb:flex-row items-center border-b menuMb:border-none"
            >
              <a
                href="#"
                class="relative font-semibold uppercase px-4 py-2 flex items-center gap-2 transition-all duration-300 hover:text-navyBlue-50 flex items-center h-full hover:bg-navyBlue-800"
              >
                Giới thiệu
                <svg
                  class="w-4 h-4 transition-transform duration-300 group-hover/sub-menu:rotate-180"
                  viewbox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 14L4 9M20 9L12 17"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
              <!-- Primary Submenu -->
              <ul
                class="menuMb:absolute bg-white w-full menuMb:w-60 top-full left-0 transform opacity-0 invisible group-hover/sub-menu:opacity-100 group-hover/sub-menu:visible translate-y-2 group-hover/sub-menu:translate-y-0 transition-all duration-300 ease-in-out shadow-lg rounded-md border-t-3 border-navyBlue-900 z-50"
              >
                <li
                  class="group/sub1-menu relative border-t menuMb:border-b border-gray-100 last:border-none"
                >
                  <a
                    href="#"
                    class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                  >
                    Giới thiệu chung
                    <svg
                      class="w-4 h-4 transition-transform duration-300 group-hover/sub1-menu:rotate-[-90deg]"
                      viewbox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14 9L9 4M9 20L17 12"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>

                  <!-- Secondary Submenu -->
                  <ul
                    class="absolute bg-white w-full menuMb:w-60 top-0 left-full transform opacity-0 invisible group-hover/sub1-menu:opacity-100 group-hover/sub1-menu:visible translate-x-2 group-hover/sub1-menu:translate-x-0 transition-all duration-300 ease-in-out shadow-lg rounded-md border-l-3 border-navyBlue-900"
                  >
                    <li
                      class="border-t menuMb:border-b border-gray-100 menuMb:last:border-none"
                    >
                      <a
                        href="#"
                        class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                      >
                        Webdesign
                      </a>
                    </li>
                    <li
                      class="border-t menuMb:border-b border-gray-100 menuMb:last:border-none"
                    >
                      <a
                        href="#"
                        class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                      >
                        Digital marketing
                      </a>
                    </li>
                    <li
                      class="border-t menuMb:border-b border-gray-100 menuMb:last:border-none"
                    >
                      <a
                        href="#"
                        class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                      >
                        Digital marketing
                      </a>
                    </li>
                    <li
                      class="border-t menuMb:border-b border-gray-100 menuMb:last:border-none"
                    >
                      <a
                        href="#"
                        class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                      >
                        Digital marketing
                      </a>
                    </li>
                  </ul>
                </li>

                <li
                  class="border-t menuMb:border-b border-gray-100 last:border-none"
                >
                  <a
                    href="#"
                    class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                  >
                    Đội ngũ
                  </a>
                </li>

                <li
                  class="group/sub1-menu relative border-t menuMb:border-b border-gray-100 last:border-none"
                >
                  <a
                    href="#"
                    class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                  >
                    Sơ đồ bộ máy tổ chức
                    <svg
                      class="w-4 h-4 transition-transform duration-300 group-hover/sub1-menu:rotate-[-90deg]"
                      viewbox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14 9L9 4M9 20L17 12"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>

                  <!-- Secondary Submenu -->
                  <ul
                    class="absolute bg-white w-full menuMb:w-60 top-0 left-full transform opacity-0 invisible group-hover/sub1-menu:opacity-100 group-hover/sub1-menu:visible translate-x-2 group-hover/sub1-menu:translate-x-0 transition-all duration-300 ease-in-out shadow-lg rounded-md border-l-3 border-navyBlue-900"
                  >
                    <li
                      class="border-t menuMb:border-b border-gray-100 menuMb:last:border-none"
                    >
                      <a
                        href="#"
                        class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                      >
                        Webdesign
                      </a>
                    </li>
                    <li
                      class="border-t menuMb:border-b border-gray-100 menuMb:last:border-none"
                    >
                      <a
                        href="#"
                        class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                      >
                        Digital marketing
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="border-b border-gray-100 last:border-none">
                  <a
                    href="#"
                    class="text-sm text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 hover:pl-6 uppercase font-normal"
                  >
                    Giá trị cốt lõi
                  </a>
                </li>
              </ul>
            </li>
            <li
              class="group/sub-menu text-navyBlue-900 relative h-full flex flex-col md:flex-row items-center border-b menuMb:border-none"
            >
              <a
                href="#"
                class="relative font-semibold uppercase px-4 py-2 transition-all duration-300 hover:text-navyBlue-50 flex items-center h-full hover:bg-navyBlue-800"
              >
                Đào tạo
              </a>
            </li>
            <li
              class="group/sub-menu text-navyBlue-900 relative h-full flex flex-col md:flex-row items-center border-b menuMb:border-none"
            >
              <a
                href="#"
                class="relative font-semibold uppercase px-4 py-2 transition-all duration-300 hover:text-navyBlue-50 flex items-center h-full hover:bg-navyBlue-800"
              >
                Tuyển sinh
              </a>
            </li>
            <li
              class="group/sub-menu text-navyBlue-900 relative h-full flex flex-col md:flex-row items-center border-b menuMb:border-none"
            >
              <a
                href="#"
                class="relative font-semibold uppercase px-4 py-2 transition-all duration-300 hover:text-navyBlue-50 flex items-center h-full hover:bg-navyBlue-800"
              >
                Nghiên cứu khoa học
              </a>
            </li>
            <li
              class="group/sub-menu text-navyBlue-900 relative h-full flex flex-col md:flex-row items-center border-b menuMb:border-none"
            >
              <a
                href="#"
                class="relative font-semibold uppercase px-4 py-2 transition-all duration-300 hover:text-navyBlue-50 flex items-center h-full hover:bg-navyBlue-800"
              >
                Sinh viên
              </a>
            </li>
            <li
              class="group/sub-menu text-navyBlue-900 relative h-full flex flex-col md:flex-row items-center border-b menuMb:border-none"
            >
              <a
                href="#"
                class="relative font-semibold uppercase px-4 py-2 transition-all duration-300 hover:text-navyBlue-50 flex items-center h-full hover:bg-navyBlue-800"
              >
                Văn bằng
              </a>
            </li>
          </ul>
          <!-- Language structure -->
          <div class="menuMb:hidden flex flex-row flex-wrap items-center justify-center gap-4 p-4">
            <div class="w-full text-center text-base font-medium">Chọn ngôn ngữ</div>
            <div class="flex flex-row items-center justify-center gap-6">
              <!-- Vietnamese Option -->
              <button 
                class="lang-btn flex flex-row items-center gap-2 p-2 px-4 rounded-xl transition-all duration-300
                  hover:bg-navyBlue-100/50 active:scale-95
                  data-[active=true]:bg-navyBlue-100 data-[active=true]:font-medium"
                data-lang="vi"
                data-active="true"
              >
                <div class="size-8 rounded-full border-2 border-navyBlue-700 overflow-hidden relative
                    transition-all duration-300 group-hover:border-navyBlue-500">
                  <img
                    src="assets/images/vietnam.png"
                    alt="Việt Nam"
                    class="size-full object-cover absolute top-0 left-0"
                  />
                </div>
                <p class="text-base">VNI</p>
              </button>

              <!-- English Option -->
              <button 
                class="lang-btn flex flex-row items-center gap-2 p-2 px-4 rounded-xl transition-all duration-300
                  hover:bg-navyBlue-100/50 active:scale-95
                  data-[active=true]:bg-navyBlue-100 data-[active=true]:font-medium"
                data-lang="en"
                data-active="false"
              >
                <div class="size-8 rounded-full border-2 border-navyBlue-700 overflow-hidden relative
                    transition-all duration-300 group-hover:border-navyBlue-500">
                  <img
                    src="assets/images/eng.webp"
                    alt="English"
                    class="size-full object-cover absolute top-0 left-0"
                  />
                </div>
                <p class="text-base">ENG</p>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
