<div
  class="w-full iuh-news-notify bg-gradient-to-b from-white to-secondary-subBlue"
  data-module="HomeNewsNoti"
>
  <div
    class="w-full max-w-[1200px] px-4 mx-auto py-10 lg:py-16 min-h-[500px] flex flex-col md:flex-row lg:flex-row gap-10 md:gap-5"
  >
    <div
      class="iuhFadeInScroll flex flex-col gap-5 lg:gap-8 w-full md:w-1/2 lg:w-8/12"
    >
      <div class="flex flex-row justify-between items-center">
        {% include '../common/_Title.twig' with {'title': 'Tin Tức'} %} {%
        include '../common/_SwiperNavigation.twig' with {"containerClass": "gap-4",'prevClass': "size-10",
        'nextClass': "size-10"} %}
      </div>
      <div class="flex flex-col gap-5 constHeight">
        <div
          class="group/news flex flex-row gap-2 w-full border border-stroke rounded-md p-2.5 bg-white hover:shadow-news hover:border-primary-darkblue transition-all duration-500 ease-in-out"
        >
          <div class="relative rounded-1.25 overflow-hidden w-5/12 shrink-0">
            <a href="#" class="absolute inset-0 size-full image-hover">
              <img
                src="assets/images/news-image.png"
                alt="news-noti"
                class="size-full object-cover transition-transform duration-500 group-hover/news:scale-110"
              />
              <div class="absolute bottom-1 left-1 sm:bottom-3 sm:left-3">
                <span
                  class="px-2 py-1 rounded-full bg-white/90 text-xs text-primary-darkblue border-primary-darkblue font-medium"
                >
                  Tin tức
                </span>
              </div>
            </a>
          </div>
          <div class="flex flex-col gap-2.5 flex-1">
            <div class="flex gap-2 items-center">
              <div
                class="flex items-center gap-1 border border-stroke italic text-sm font-normal rounded-1.25 bg-stroke1 pl-1.25 pr-2.5 py-1 transition-all duration-500 group-hover/news:bg-secondary-subYellow group-hover/news:border-secondary-yellow group-hover/news:text-primary-yellow "
              >
                <span
                  class="text-primary-yellow transition-colors duration-500 "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewbox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M16 15.3018V16.9893L16.9 18.0018M9 11.1018H4M20 9.10181V7.10181C20 5.99724 19.1046 5.10181 18 5.10181H6C4.89543 5.10181 4 5.99724 4 7.10181V19.1018C4 20.2064 4.89543 21.1018 6 21.1018H9M15 3.10181V7.10181M9 3.10181V7.10181M20.5 17.1018C20.5 19.5871 18.4853 21.6018 16 21.6018C13.5147 21.6018 11.5 19.5871 11.5 17.1018C11.5 14.6165 13.5147 12.6018 16 12.6018C18.4853 12.6018 20.5 14.6165 20.5 17.1018Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>29/10/2024</span>
              </div>
              <div
                class="px-3 py-1 rounded-full text-xs text-white bg-red capitalize animate-flash-badge"
              >
                new
              </div>
            </div>
            <h3
              class="text-base lg:text-xl font-bold text-primary-darkblue line-clamp-2 group-hover/news:text-primary-yellow transition-all duration-300 ease-in-out"
            >
              <a
                href="#"
                class="transform group-hover/news:translate-x-1 transition-transform duration-500 line-clamp-2"
              >
                Thông báo tuyển sinh trình độ thạc sĩ đợt 2 năm 2024
              </a>
            </h3>
            <div
              class="text-sm lg:text-base font-normal leading-[166.667%] text-black2 line-clamp-3 lg:line-clamp-5 transition-colors duration-500 group-hover/news:text-black1"
            >
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry.
            </div>
          </div>
        </div>
        <div class="w-full">
          <div class="swiper box-news-noti">
            <div class="swiper-wrapper">
              {% for i in 1..6 %}
              <div class="swiper-slide pr-0.5">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
                  {% for i in 1..4 %}
                  <div
                    class="group/news flex flex-row gap-2 w-full border border-stroke rounded-md p-2.5 bg-white hover:shadow-news hover:border-primary-darkblue transition-all duration-500 ease-in-out"
                  >
                    <div
                      class="relative rounded-1.25 overflow-hidden w-5/12 shrink-0"
                    >
                      <a
                        href="#"
                        class="absolute inset-0 size-full image-hover"
                      >
                        <img
                          src="assets/images/news-image.png"
                          alt="news-noti"
                          class="size-full object-cover transition-transform duration-500 group-hover/news:scale-110"
                        />
                        <div
                          class="absolute bottom-1 left-1 sm:bottom-3 sm:left-3"
                        >
                          <span
                            class="px-2 py-1 rounded-full bg-white/90 text-xs text-primary-darkblue font-medium"
                          >
                            Tin tức
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class="flex flex-col gap-1 flex-1">
                      <div class="flex gap-2 items-center">
                        <div
                          class="flex items-center gap-1 border border-stroke italic text-sm font-normal rounded-1.25 bg-stroke1 pl-1.25 pr-2.5 py-1 transition-all duration-500 group-hover/news:bg-secondary-subYellow group-hover/news:border-secondary-yellow group-hover/news:text-primary-yellow"
                        >
                          <span
                            class="text-primary-yellow transition-colors duration-500 "
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="size-5"
                              viewbox="0 0 24 24"
                              fill="none"
                            >
                              <path
                                d="M16 15.3018V16.9893L16.9 18.0018M9 11.1018H4M20 9.10181V7.10181C20 5.99724 19.1046 5.10181 18 5.10181H6C4.89543 5.10181 4 5.99724 4 7.10181V19.1018C4 20.2064 4.89543 21.1018 6 21.1018H9M15 3.10181V7.10181M9 3.10181V7.10181M20.5 17.1018C20.5 19.5871 18.4853 21.6018 16 21.6018C13.5147 21.6018 11.5 19.5871 11.5 17.1018C11.5 14.6165 13.5147 12.6018 16 12.6018C18.4853 12.6018 20.5 14.6165 20.5 17.1018Z"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </span>
                          <span>29/10/2024</span>
                        </div>
                        <div
                          class="px-2 py-0.5 rounded-full text-xs text-white bg-red capitalize"
                        >
                          new
                        </div>
                      </div>

                      <h3
                        class="text-base font-bold text-primary-darkblue line-clamp-2 group-hover/news:text-primary-yellow transition-all duration-300 ease-in-out"
                      >
                        <a href="#"
                          >Thông báo tuyển sinh trình độ thạc sĩ đợt 2 năm
                          2024</a
                        >
                      </h3>
                      <p
                        class="text-sm font-normal leading-[166.667%] text-black2 line-clamp-3"
                      >
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum is simply dummy text
                        of the printing and typesetting industry. Lorem Ipsum is
                        simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum is simply dummy text
                        of the printing and typesetting industry. Lorem Ipsum is
                        simply dummy text of the printing and typesetting
                        industry.
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="iuhFadeInScroll flex flex-col gap-5 lg:gap-8 w-full md:w-1/2 lg:w-4/12"
    >
      {% include '../common/_Title.twig' with {'title': 'Thông báo', titleClass:
      'h-10 lg:h-[40px] flex items-center'} %}
      <div
        class="flex flex-col gap-5 border border-stroke rounded-md p-2.5 bg-white"
      >
        <div class="flex flex-col gap-2 group/news w-full onNotifyHeight">
          <div
            class="relative aspect-video rounded-1.25 w-full shrink-0 overflow-hidden"
          >
            <a href="#" class="absolute inset-0 size-full image-hover">
              <img
                src="assets/images/news-image.png"
                alt="news-noti"
                class="size-full object-cover"
              />
            </a>
          </div>
          <div class="flex flex-col gap-2.5 flex-1">
            <div class="flex gap-2 items-center">
              <div
                class="flex max-w-[130px] items-center gap-1 border border-stroke italic text-sm font-normal rounded-1.25 bg-stroke1 pl-1.25 pr-2.5 py-1 transition-all duration-500 group-hover/news:bg-secondary-subYellow group-hover/news:border-secondary-yellow group-hover/news:text-primary-yellow"
              >
                <span
                  class="text-primary-yellow transition-colors duration-500 "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewbox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M16 15.3018V16.9893L16.9 18.0018M9 11.1018H4M20 9.10181V7.10181C20 5.99724 19.1046 5.10181 18 5.10181H6C4.89543 5.10181 4 5.99724 4 7.10181V19.1018C4 20.2064 4.89543 21.1018 6 21.1018H9M15 3.10181V7.10181M9 3.10181V7.10181M20.5 17.1018C20.5 19.5871 18.4853 21.6018 16 21.6018C13.5147 21.6018 11.5 19.5871 11.5 17.1018C11.5 14.6165 13.5147 12.6018 16 12.6018C18.4853 12.6018 20.5 14.6165 20.5 17.1018Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </span>
                <span>29/10/2024</span>
              </div>
              <span
                class="px-2 py-1 rounded-full bg-white/90 text-xs text-primary-darkblue font-medium"
              >
                Thông báo
              </span>
              <span
                class="px-2 py-0.5 rounded-full bg-red text-xs text-white font-medium"
              >
                New
              </span>
            </div>
            <h3
              class="text-base font-bold text-primary-darkblue line-clamp-2 group-hover/news:text-primary-yellow transition-all duration-300 ease-in-out"
            >
              <a href="#"
                >Thông báo tuyển sinh trình độ thạc sĩ đợt 2 năm 2024</a
              >
            </h3>
            <p
              class="text-sm lg:text-base font-normal leading-[166.667%] text-black2 line-clamp-2"
            >
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry. Lorem Ipsum is
              simply dummy text of the printing and typesetting industry. Lorem
              Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum is simply dummy text of the
              printing and typesetting industry.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col overflow-y-scroll srollVertical -mr-2.5 w-auto pr-2.5 onGetHeight"
        >
          {% for i in 1..10 %}
          <div
            class="flex flex-col gap-1 flex-1 group/news py-4 border-b border-stroke first:border-t"
          >
            <div class="flex items-center gap-2 mb-2 text-primary-yellow">
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M16 15.3018V16.9893L16.9 18.0018M9 11.1018H4M20 9.10181V7.10181C20 5.99724 19.1046 5.10181 18 5.10181H6C4.89543 5.10181 4 5.99724 4 7.10181V19.1018C4 20.2064 4.89543 21.1018 6 21.1018H9M15 3.10181V7.10181M9 3.10181V7.10181M20.5 17.1018C20.5 19.5871 18.4853 21.6018 16 21.6018C13.5147 21.6018 11.5 19.5871 11.5 17.1018C11.5 14.6165 13.5147 12.6018 16 12.6018C18.4853 12.6018 20.5 14.6165 20.5 17.1018Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
              <span class="text-xs text-gray-500">29/02/2024</span>
              <span class="w-1 h-1 rounded-full bg-gray-300"></span>
              <span class="text-xs text-primary-darkblue">Thông báo</span>
              <span class="w-1 h-1 rounded-full bg-gray-300"></span>
              <span
                class="px-2 py-0.5 rounded-full bg-red text-xs text-white font-medium"
              >
                New
              </span>
            </div>
            <h3
              class="text-base font-bold text-black1 line-clamp-2 group-hover/news:text-primary-yellow transition-all duration-300 ease-in-out"
            >
              <a href="#"
                >Thông báo tuyển sinh trình độ thạc sĩ đợt 2 năm 2024</a
              >
            </h3>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
