<div class="swiper swiper_slidefull mt-[80px] lg:mt-[120px]" data-module="SwiperFullscreen">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<picture>
				<source srcset="assets/images/slide1.jpg" media="(min-width: 767px)">
				<img src="assets/images/slide1mb.png" alt="slide1" class="w-full"/>
			</picture>
		</div>
		<div class="swiper-slide">
			<picture>
				<source srcset="assets/images/slide2.jpg" media="(min-width: 767px)">
				<img src="assets/images/slide2mb.png" alt="slide2" class="w-full "/>
			</picture>
		</div>
	</div>
	<div class="swiper-pagination"></div>
	{# <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div> #}
</div>
